h1{
    color: #08287d;
    font-size: 50px;
    padding: right;
    
}
p{ 
    font-family:Georgia, 'Times New Roman', Times, serif; 
    size: 35px; 
    color: greenyellow;
}
body{
    background-color: rgb(168, 64, 56);
}

mark{ 
    color: lightblue;
    background-color: #08287d;
    padding: 5px;
    border-radius: 5px;
}
img.foto-de-enlace{
    width: 400px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}